<%= render 'layouts/sidebar' %>
<div class="col-md-10 ht-100 pdb-20 rgba-w-5 bdr-10">
	<div class="opac0 mt-16">
		<div class=" fs-18 bdr-10 bgc-green pd-5 wid-20 ma-0 texralign-c">
			<li>ユーザー一覧</li>
		</div>
	</div>
</div>
