<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.name %>様</h1>
      <p>
      この度は当HPのカウンセラーへ応募していただき、ありがとうございました。<br>
      誠に申し訳ありませんが、今回はご登録を見送らせていただきました。<br>
    </p>
    <p>
      <%= @user.name %>様の今後のご活躍を心よりお祈り申し上げます。
    </p>
  </body>
</html>