<div class="rgba-w-7 z-index bdr-10 row row-eq-height">
	<%= render 'layouts/sidebar' %>
	<div class="col-md-10 pdb-20">
		<div class="opac0 mt-16">
			<div class=" fs-18 bdr-10 bgc-green pd-5 wid-20 ma-0 texralign-c">
				<li><strong>CoCoBankへようこそ</strong></li>
			</div>
			<div class="fs-17 mt-16 wid-20 pdl-5">
				<li><strong>CoCoBankでできること</strong></li>
			</div>
			<div class="rgba-w-7 wd-100 pd-5 bdr-10 fs-12">
				<p><strong>悩んでいるのは、一人じゃない ----- </strong></p>
				<br>
				<p><strong>CoCoBankでは、日本中の人間関係で悩んでいる仲間達を繋いで、新たなネットワークを作る手助けをします。</strong></p>
				<p>今いるコミュニティでうまくいかなくても、日本中・世界中にはもっともっと沢山の優しい人たちが生活しています。</p>
				<p>今いる場所でうまくいかなかったら、外の世界に飛び立てばいい。</p>
				<p>そんな気付きを、あなたに。</p>
				<br>
				<p><strong>日本中には、あなたを応援してくれる人が沢山います。</strong></p>
				<p>CoCoBankでは、当社から承認を受けた日本中のカウンセラーの方達に、</p>
				<p>チャットを利用して悩みを打ち明ける事ができます。</p>
				<p>夜型の人もいるから、夜間でもログインしている人がいたら話しかけてみましょう。</p>
				<br>
				<p><strong>もっと自分について知ってみよう。</strong></p>
				<p>CoCoBankでは、自分の性格を見つめ直す為に、AIを利用した性格診断を受けられます。</p>
				<p>性格診断の結果は、カウンセラーの方々に公開されるから、あなたはどんな人なのか、知ってもらえる手がかりにもなります。</p>
				<p>性格診断の結果、「ここを改善してみようかな」と思ったら、友達と一緒に一歩前に踏み出してみよう。</p>
				<p>自分は自分で変える事ができます。</p>
			</div>
			<div class="fs-17 mt-25 wid-20 pdl-5">
				<li><strong>CoCoBankのサービス一覧</strong></li>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-3 rgba-w-7 bdr-10 pd-5">
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-8">
								<div>
									<i class="far fa-smile fa-4x ml-40"></i>
								</div>
								<div class="ml-60">
									<i class="far fa-comments fa-4x mr-60"></i>
								</div>
							</div>
							<div class="col-md-2"></div>
						</div>
						<div class=" texralign-c mt-16">
							<p><strong>チャットを利用した友達作り</strong></p>
						</div>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-3 rgba-w-7 bdr-10 pd-5">
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-8">
								<div>
									<i class="fas fa-hand-holding-heart fa-4x ml-40"></i>
								</div>
								<div class="ml-60">
									<i class="far fa-comments fa-4x mr-60"></i>
								</div>
							</div>
							<div class="col-md-2"></div>
						</div>
						<div class="texralign-c mt-16">
								<p><strong>カウンセラーに悩み相談</strong></p>
						</div>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-3 rgba-w-7 bdr-10 pd-5">
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-8">
								<div>
									<i class="fas fa-heartbeat fa-4x ml-40"></i>
								</div>
								<div class="ml-60">
									<i class="far fa-comments fa-4x mr-60"></i>
								</div>
							</div>
							<div class="col-md-2"></div>
						</div>
						<div class="texralign-c mt-16">
								<p><strong>人工知能を利用した性格診断</strong></p>
						</div>
					</div>
					<div class="col-md-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>