<%= form_for current_user.passive_friendships.find_by(from_user_id: user.id), url: users_to_user_path, remote: true do |f| %>
  <div><%= hidden_field_tag :from_user_id, user.id %></div>
  <div><%= hidden_field_tag :table_index, @users.index(user) %></div>
  <%= f.submit "承認", class: "btn btn-primary" %>
<% end %>