/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /*CSS全般の設定*/
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 .clearfix::after {
  content: "";
  display: block;
  clear: both;
 }
 .bgimage {
  background-image: url(/images/forest.jpg);
  background-size: cover; /* 縦横比を維持したまま背景の表示領域を覆うように表示 */
  /*background-position: center 40%;*/
  background-attachment: scroll;
  background-repeat: repeat;
 }
 .z-index {
 	z-index: 100;
 }
 .z-index200 {
  z-index: 200;
 }
 .z-index50 {
  z-index: 50;
 }
 ul {
  list-style: none;
 }
 li {
  list-style: none;
 }
 .overflow {
  /*display: block;*/
  /*height: 500px;*/
  /*width: 1150px;*/
  /*overflow-x: hidden;*/
  /*overflow-y: scroll;*/
  overflow: auto;
 }
 .scroll-table {
  overflow: auto;
  white-space: nowrap;
 }
 table {
  table-layout: fixed;
 }
 body {
  word-break: break-all;
 }
 .row-eq-height {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-wrap: wrap;
 }
 .row.row-eq-height .col-md-10 {
  width:83.2%;
 }
 .row.row-eq-height .col-md-6 {
  width:49%;
 }
 .row.row-eq-height .col-md-4 {
  width:33%;
 }
 input[type=checkbox] {
  transform: scale(1.4);
  margin: 0;
 }
 a { text-decoration: none;}
 a:hover { text-decoration: none;}
 .navbar-brand:hover {
  width: 100%;
  background: rgba(75, 209, 100, 0.7);
  border-radius: 10px;
 }
span.navbar-brand:hover {
    width: 100%;
    background: rgba(75, 209, 100, 0.7);
    border-radius: 10px;
}


 /*チャット画面*/
 /*以下、①背景色など*/
.line-bc {
  padding: 20px 10px;
  max-width: 100%;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
  background: #7da4cd;
  min-height: 500px;
}
/*以下、②左側のコメント*/
.balloon6 {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}
.balloon6 .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}
.balloon6 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon7 .faceicon {
  float: right;
  margin-left: -50px;
  width: 40px;
}
.balloon7 .faceicon img{
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.balloon6 .chatting {
  width: 100%;
  text-align: left;
}
.says {
  display: inline-block;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  max-width: 35%;
  border-radius: 12px;
  background: #edf1ee;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}
/*以下、③右側の緑コメント*/
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative; 
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 35%;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}
.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}
.hercomment {
  margin: 10px 0;
}
.hercomment p {
  display: inline-block;
  position: relative; 
  margin: 0 50px 0 0;
  padding: 8px;
  max-width: 35%;
  border-radius: 12px;
  background: #30e852;
  font-size: 15px;
}
.hercomment p:after {
  content: "";
  position: absolute;
  top: 3px; 
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #30e852;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

/*position absolute*/
.posi_abu {
  position: absolute;
  top: 10px;
  right: 25px;
}

 /*background-color*/
 .bgc-fff {
 	background-color: #fff;
 }
 .bgc-green {
  background-color: #4bd164;
 }
 .bgc-yellow {
  background-color: yellow;
 }
 .bgc-blue {
  background-color: #1F8CFF;
 }

 /*透明度*/
 .rgba-w-7 {
  background: rgba(255, 255, 255, 0.7);
 }
 .rgba-w-5 {
  background: rgba(255, 255, 255, 0.5);
 }
 .rgba-b-5 {
  background: rgba(0, 0, 0, 0.7);
 }


 /*width関連*/
 .wid-20 {
  width: 20%;
 }
 .wid-40 {
  width: 40%;
 }
 .wid-60 {
  width: 60%;
 }
 .wd-100 {
  width: 100%;
 }

 /*side-bar関連*/
 .sidebar {
 	margin-top: 20px;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
  }

 /*Padding関連*/
 .pd-5 {
  padding: 5px;
 }
 .pdl-5 {
  padding-left: 5px;
 }
 .pdl-20 {
  padding-left: 20px;
 }
 .pdl-60 {
  padding-left: 60px;
 }
 .pdt-60 {
 	padding-top: 60px;
 }
 .pdb-20 {
 	padding-bottom: 20px;
 }
 .pdb-0 {
  padding-bottom: 0;
 }

 /*margin関連*/
 p .ma-0 {
  margin-bottom: 0 !important;
 }
 .mar-15 {
 	margin: 15px;
 }
 .mt-10 {
  margin-top: 10px;
 }
 .mt-16 {
  margin-top: 16px;
 }
 .mt-25 {
  margin-top: 25px;
 }
 .mt-65 {
  margin-top: 65px;
 }
 .mt-80 {
  margin-top: 80px;
 }
 .ml-60 {
  margin-left: 60px;
 }
 .ml-40 {
  margin-left: 40px;
 }
 .ml-20 {
  margin-left: 20px;
 }
 .mr-60 {
  margin-right: 60px;
 }
 .mar-0-auto {
  margin: 0 auto;
 }
 .margin0 {
  margin: 0;
 }

 /*height関連*/
 .ht-100 {
 	height: 100%;
 }
 .row-eq-height {
  display: flex;
  flex-wrap: wrap;
 }

 /*textの配置*/
 .texralign-c {
 	text-align: center;
 }

 /*font-size*/
 .fs-18 {
  font-size: 18px;
 }
 .fs-17 {
  font-size: 17px;
 }
 .fs-16 {
  font-size: 16px;
 }
 .fs-12 {
  font-size: 12px;
 }
 .fs-10 {
  font-size: 10px;
 }

 /*font-color*/
 .fc-w {
  color: #fff;
 }

 /*border関連*/
 .bdr-10 {
 	border-radius: 10px;
 }
 .bdr-50 {
  border-radius: 50%;
 }
 .bdr-b {
  border: groove 1px #4bd164;
 }
 .bdr-r {
  border-right: groove 2px #4bd164;
 }

 /*color関連*/
 .red {
 	color: red;
 }

 /*float関係*/
 .fl {
  float: left;
 }
 .irb {
  display: inline-block;
 }

 /*font awesome*/
 .far.fa-smile {
  color: #1F8CFF;
 }
 .far.fa-comments {
  color: #1F8CFF;
 }
 .fas.fa-hand-holding-heart {
  color: #1F8CFF;
 }
 .fas.fa-heartbeat {
  color: #1F8CFF;
 }

 /*その他*/
 #leaveBank {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
 }

 #backToBank {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
 }

 /*destroy viewの非表示*/
 #showdestroy {
  display: none;
 }
 #resigned {
  display: none;
 }
